h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

@media (min-width: 1199px) {
    .airCondition {
        height: 267px;
    }
}
@media (max-width: 1199px) {
    .airCondition .airConditionDetails > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .airCondition[data-airCondition="dark"]
        .airConditionDetails:not(:last-child) {
        border-bottom: 1px solid var(--main-dark-background);
    }
    .airCondition[data-airCondition="light"]
        .airConditionDetails:not(:last-child) {
        border-bottom: 1px solid var(--main-light-background);
    }
    .airCondition[data-airCondition="dark"] .airConditionDetails:last-child {
        border-bottom: none;
    }
}

.forecast-grid div {
    text-align: center;
}
.forecast-grid[data-forcastTheme="dark"] div:not(:last-child) {
    border-right: 1px solid var(--main-dark-background);
}
.forecast-grid[data-forcastTheme="light"] div:not(:last-child) {
    border-right: 1px solid var(--main-light-background);
}
@media (max-width: 1199px) {
    .forecast-grid .forecast-grid-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
    .forecast-grid[data-forcastTheme="dark"] div:not(:last-child) {
        border-right: 0;
        border-bottom: 1px solid var(--main-dark-background);
    }
    .forecast-grid[data-forcastTheme="light"] div:not(:last-child) {
        border-right: 0;
        border-bottom: 1px solid var(--main-light-background);
    }
}

.airConditionDetails {
    display: flex;
    align-items: center;
}

.todayForecast[data-forcastTheme="dark"] > div:not(:last-child) {
    border-bottom: 1px solid var(--main-dark-background);
}
.todayForecast[data-forcastTheme="light"] > div:not(:last-child) {
    border-bottom: 1px solid var(--main-light-background);
}

@media (max-width: 1199px) {
    .main-weather {
        display: block !important;
    }
    .location {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 35px !important;
    }
    .the-temp {
        font-size: 70px !important;
    }
    .weather-icon {
        text-align: center;
    }
    .days-details {
        padding: 20px 0;
    }
}
