* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-dark-background: #323232;
    --secondry-dark-background: #1a1a1a;
    --main-light-background: #d1d1d1;
    --secondry-light-background: white;
    --color-dark: white;
    --color-light: black;
}

body {
    font-family: "Cairo";
}
html,
body {
    height: 100%;
}
.App {
    /* padding: 20px; */
}
[data-theme="dark"] {
    background-color: var(--main-dark-background);
    color: var(--color-dark);
}
[data-theme="light"] {
    background-color: var(--main-light-background);
    color: var(--color-light);
}

@font-face {
    font-family: "Cairo";
    src: url("../public/Fonts/Cairo/Cairo-Black.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Cairo";
    src: url("../public/Fonts/Cairo/Cairo-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Cairo";
    src: url("../public/Fonts/Cairo/Cairo-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Cairo";
    src: url("../public/Fonts/Cairo/Cairo-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Cairo";
    src: url("../public/Fonts/Cairo/Cairo-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Cairo";
    src: url("../public/Fonts/Cairo/Cairo-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Cairo";
    src: url("../public/Fonts/Cairo/Cairo-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Cairo";
    src: url("../public/Fonts/Cairo/Cairo-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
